{% extends 'base1.html' %}


{% block head %} 
<title>Home </title>
{% endblock %}

{% block body %}
<div class="jumbotron dark">
    <h1 class="display-4">Hello there!</h1>
    <p class="lead">This is a financial tool to help keep tracks of debts and expenses.</p>
    <hr class="my-4">
    <p>It allows for the ability to incrementally pay off a debt/expense as well as pay based of your spending. This application is integrated with Venmo.</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>

{% endblock %} 